@import '/src/styles/colors.scss';

.header-container {
  display: flex;
  justify-content: center;
  background-color: $bg-black;
  z-index: 2;
  position: relative;
  .header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100% - 40px);
    max-width: 1200px;
    height: 72px;
    padding: 0 20px;

    &__search {
      transition: width 0.4s;
      padding: 8px 16px;
      background-color: inherit;
      border: 1px solid $light-gray;
      border-radius: 5px;
      width: 242px;
      max-width: 60%;
      color: $light-gray;
      font-size: 16px;
      outline: none;

      &:focus {
        width: 480px;
        background-color: $light-blue;
        color: $black;

        &::placeholder {
          color: $dark-gray;
        }
      }
      &::placeholder {
        color: $white;
      }
    }
  }
}